.wrapper {
  border-top: 1px solid var(--blue-deafault);
  padding-top: 16px;
  height: fit-content;

  h2 {
    color: var(--blue-dark, #0A287E);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 39px */
    letter-spacing: -2.1px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  div {
    display: flex;
    gap: 20px;
  }
  .text {
    max-width: 700px;
    color: var(--blue-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    div {
      flex-direction: column;
    }
    .text {
      max-width: none;
    }
  }
}